html, body {
    min-height: 100vh;
}

body {
    background-color: #051e2c;
    color: #ee8b05;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
}

.auth-page {
    background-image: url("/fon7.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee8b05;
}

button {
    color: #ee8b05;
    border-color: #ee8b05;
}

button:hover,
button[data-hover]:not(:disabled, [data-disabled]) {
    --mix-background: #051e2c !important;
}

button:hover {
    animation: pulse-border 3s infinite alternate;
}

.auth-page button {
    color: #ee8b05;
    border-color: #ee8b05;
}

@keyframes pulse-border {
    0% {
        box-shadow: 0 0 5px #FFD700, 0 0 10px #FFA500, 0 0 15px #FF8C00;
        border-color: #FFD700;
    }
    100% {
        box-shadow: 0 0 10px #FF8C00, 0 0 20px #FFA500, 0 0 30px #FFD700;
        border-color: #FF8C00;
    }
}

button:disabled,
button[disabled],
button[data-disabled],
button[aria-disabled="true"] {
    opacity: 1 !important;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: #ee8b05;
    color: white;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.scroll-to-top:hover {
    background-color: #ff9c1a;
    transform: translateY(-2px);
}

