.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 15px;
  border: 1px solid #ee8b05;
  border-radius: 4px;
  color: #ee8b05;
  background-color: transparent;
}

.input:focus {
  border-color: #ffad05;
  outline: none;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

.passwordToggle:hover {
  color: red;
  animation: none;
}
