.container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 1rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSecondary {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.timer {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #FFD700;
    text-shadow: 0 0 5px #FFD700, 0 0 10px #FFA500, 0 0 15px #FF8C00;
    animation: pulse 3s infinite alternate;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 5px #FFD700, 0 0 10px #FFA500, 0 0 15px #FF8C00;
    }
    100% {
        text-shadow: 0 0 10px #FFD700, 0 0 20px #FFA500, 0 0 30px #FF8C00;
    }
}

.passwordWrapper {
    position: relative; /* Обертка нужна для позиционирования */
    display: flex;
    align-items: center;
    width: 100%;
}

.passwordToggle {
    position: absolute; /* Абсолютное позиционирование */
    right: 10px; /* Отступ от правого края */
    top: 50%; /* Размещаем по вертикали */
    transform: translateY(-50%); /* Корректируем центрирование */
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    font-size: 18px;
}

.passwordToggle:hover {
    color: #333;
}
