.heading {
    text-align: center;
    color: #ee8b05;
    margin-bottom: 20px;
    font-weight: bold;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label {
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    color: #ee8b05;
}

.input {
    border: 1px solid #ee8b05;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    background-color: #02141f;
    min-width: 290px;
}

.input:read-only {
    background-color: #0f2c3e;
    color: #aaa;
}

.button {
    margin-top: 16px;
}

.link {
    color: #ee8b05;
    text-decoration: none;

}

@media (max-width: 768px) {
    .heading {
        font-size: 20px;
    }
}